nav {
    width: 100%;
    font-family: "Impact", Charcoal, sans-serif;
    color: green;
}

h1 {
    font-family: "Lucida Console", Monaco, monospace;
    color: darkgreen;
}

body {
    color: white;
    background-color: black;
}